body {
    background-color: rgb(18, 18, 0);
}

.container {
    display: flex;
    background-color: rgb(50, 52, 32);
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 10px auto;
    border-radius: 10px;
    padding-bottom: 50px;
    gap: 30px;
}

.card {
    background-color: rgb(32, 35, 1);
    width: 400px;
    height: 500px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px black;
}

h1 {
    color: darkgoldenrod;
    text-align: center;
    font-size: 60px;
    padding: 50px;
    line-height: 30px;
}

p {
    color: darkgoldenrod;
    text-align: center;
    font-size: 25px;
    padding-bottom: 60px;
}

.card-img {
    display: flex;
    width: 70%;
    max-width: 300px;
    height: 58%;
    max-height: 298px;
    align-items: center;
    margin: 10px auto;
    border-radius: 5px;
}

h2 {
    text-align: center;
    font-size: 22px;
    color: darkgoldenrod;
    background-color: rgb(14, 15, 0);
}

h3 {
    text-align: center;
    color: darkgoldenrod;
    padding-top: 20px;
    font-size: 25px;
}

.btn {
    transform: translate(-20%, -60%);
    width: 110px;
    height: 50px;
    float: right;
    border-radius: 20px;
}

@media (max-width: 450px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}


