h1{
    color: white;
    text-align: center;
    font-size: 50px;
    border: 5px solid white;
}

.container{
    display: flex;
    background-color: midnightblue;
    width: 90vw;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px auto;
    box-shadow: 10px 10px #888888;
}
.card{
    background-color: beige;
    width:22%;
    height: 300px;
    margin:20px auto;
    align-items: center;
    box-shadow: 10px 10px 10px black;
}
body{
    background-color: black;
}
.card-img{
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
}
h2, h3{
    text-align: center;
}
