h1{
    color: darkgoldenrod;
    text-align: center;
    font-size: 50px;
    padding-top: 50px;
}
p{
    color: darkgoldenrod;
    text-align: center;
    font-size: 25px;
    padding-bottom: 60px;
}
.container{
    display: flex;
    background-color: rgb(75, 77, 54);
    width: 100vw;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 10px auto;
}
.card{
    background-color: rgb(69, 80, 22);
    width:22%;
    height: 400px;
    margin:20px auto;
    align-items: center;
    box-shadow: 10px 10px 10px black;
    border-radius: 20px;
    transition: 0.3s;
}
.card:hover {
  transform: scale(1.1);
}
body{
    background-color: rgb(19, 25, 0);
}
.card-img{
    display: flex;
    width: 70%;
    height: 60%;
    align-items: center;
    margin: 10px auto;
    border-radius: 5px;
}
h2{
    text-align: center;
    color: darkgoldenrod;
    background-color: rgb(32, 35, 1);
}
h3{
    text-align: center;
    color: darkgoldenrod;
}
@media screen and (max-width: 700px) {
    .container {
        flex-direction: column;
    }
    .card{
        width: 100%;
    }
}